*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(140, 140, 248);
}
.register{
    width: 100%;
    height: 120vh;
}
.register-container{
    width: 80%;
    margin: 0 auto;
}
.class{
    width: 100%;
    height: 4vh;
}
.register-title{
    text-align: center;
}
.register-title h1{
    font-size: 55px;
}
.register-title h3{
    font-size: 25px;
}
.registration{
    width: 60%;
    margin: 0 auto;
}
.regsitration input{
    width: 60%;
    
    margin: 0 auto;
}
.class-2{
    width: 100%;
    height: 2vh;
}